#home-view {
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 2rem;
    color: var(--text);
    margin-bottom: 2rem;
  }

  .upload-container {
    padding: 2rem;
    border: 2px dashed var(--border);
    border-radius: 8px;
    background-color: var(--bg);

    &:hover {
      border-color: var(--accent);
    }
  }
}
