* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  overflow: hidden;
  background-color: var(--bg);
  color: var(--text);
}

body.editor-mode {

  .main-navbar,
  .main-footer {
    display: none !important;
  }

  #app {
    height: 100vh;
    overflow: hidden;
  }
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.hidden {
  display: none !important;
}

.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
