:root {
  --primary-color: #2563eb;
  --bg-color: #f8fafc;
  --text-color: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.hidden {
  display: none !important;
}

.page {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
